header {
  background: rgba(25, 25, 65, 0.98) url(../Assets/img/noize.png) repeat 100% 0;
  height: 5vh;
  border: 1px solid #020223;

  img {
    text-align: left;
    height: 3vh;
    padding: 1vh;
    margin-left: 1%;
  }
}
