@import 'Header';
@import 'leftBar';
@import 'Canvas';
@import 'FramesBar';
@import 'rightBar';

* {
  margin: 0;
  user-select: none;
  font-family: "Segoe Print", sans-serif;
  font-size: 18px;
  color: #fff8c5;
  font-weight: bold;
}

main {
  display: flex;
}
